{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Address book</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Street & number</th>
                <th>Zip</th>
                <th>City</th>
                <th>Phone number</th>
                <th>Birthday</th>
                <th>Email</th>
                <th>Picture url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for addressBook in addressBooks %}
            <tr>
{#                <td><a href="{{ path('addressbook_show', { 'id': addressBook.id }) }}">{{ addressBook.id }}</a></td>#}
                <td>{{ addressBook.firstName }}</td>
                <td>{{ addressBook.lastName }}</td>
                <td>{{ addressBook.streetAndNumber }}</td>
                <td>{{ addressBook.zip }}</td>
                <td>{{ addressBook.city }}</td>
                <td>{{ addressBook.phoneNumber }}</td>
                <td>{% if addressBook.birthday %}{{ addressBook.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>{{ addressBook.email }}</td>
                <td>{{ addressBook.pictureUrl }}</td>
                <td>
                    <ul>
                        <li>
{#                            <a href="{{ path('addressbook_show', { 'id': addressBook.id }) }}">show</a>#}
                        </li>
                        <li>
{#                            <a href="{{ path('addressbook_edit', { 'id': addressBook.id }) }}">edit</a>#}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
{#            <a href="{{ path('addressbook_new') }}">Create a new addressBook</a>#}
        </li>
    </ul>
</div>
{% endblock %}
