{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Addressbook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ addressBook.id }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ addressBook.firstName }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ addressBook.lastName }}</td>
            </tr>
            <tr>
                <th>Street and number</th>
                <td>{{ addressBook.streetAndNumber }}</td>
            </tr>
            <tr>
                <th>ZIP</th>
                <td>{{ addressBook.zip }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ addressBook.city }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ addressBook.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if addressBook.birthday %}{{ addressBook.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ addressBook.email }}</td>
            </tr>
            <tr>
                <th>Picture url</th>
                <td>{% if addressBook.pictureUrl %}<a href="{{ asset('uploads/pictures/' ~ addressBook.pictureUrl) }}" target="_blank">View picture</a>{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a href="/addressbook">Back to the list</a><br>
        <a href="/addressbook/edit/{{ addressBook.id }}" class="btn btn-info">Edit</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
